body{
  background-image: url('../img/wallpaper.jpg');
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
  padding: 10px;
  border-bottom: 2px solid white;
  max-width: 50%;
  margin: auto;
}
.contenedor {
  margin: auto;
  max-width: 960px;
  padding: 30px;
}

.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  
}
#fname{
  margin-left: 100%;
}
.galeria .tps {
  background-image: url('../img/fondoColumnas.jpg');
  border: 1px solid black;
  box-shadow: 3px 6px 6px 2px rgba(0, 0, 0, .55);
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tps{
  padding: 30px;
}
.galeria .tps img {
  
  width: 100%;
  margin-bottom: 3%;
}
a:link{
  color: aliceblue;
  text-decoration: none;
}
a:visited{
  color: aliceblue;
}
/*
.hola{
  margin-top: 30%;
}
.rey{
  margin-top: 40%;
}
.mond{
  margin-top: 25%;
}
.pyramid{
  margin-top: 25%;
}
.anim{
  margin-top: 25%;
}
.panda{
  margin-top: 25%;
}
*/
footer{
  width: 50%;
  padding: 30px;
  margin: auto;
  margin-top: 5%;
  border-top: 3px solid white;
  font-size: 1.5em;
}
footer:hover{
  transition: all 300ms linear;
  font-size: 1.6em;
  
}
.tps:hover{
  transition: all 300ms linear;
  margin: -2%;
}

@media (max-width: 800px) {

  .galeria {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 480px) {

  .galeria {
    grid-template-columns: 1fr;
  }

}
